#navbar {
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    overflow: hidden;
    height: 80px;
}

#certificate .items {
    flex-direction: column;
}
#certificate .items .item {
    width: 100%;
}

#foto {

    width: 414px;
    height: 197px;
    justify-self: center;
    justify-content: center;

    
}